/**
 * SCSS Functions
 */

// Color functions
@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}

@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

@function opacity($color, $alpha) {
  @return rgba($color, $alpha);
}
