/**
 * SCSS Mixins
 */

// Responsive breakpoints
@mixin respond-to($breakpoint) {
  @if $breakpoint == 'sm' {
    @media (min-width: $breakpoint-sm) {
      @content;
    }
  } @else if $breakpoint == 'md' {
    @media (min-width: $breakpoint-md) {
      @content;
    }
  } @else if $breakpoint == 'lg' {
    @media (min-width: $breakpoint-lg) {
      @content;
    }
  } @else if $breakpoint == 'xl' {
    @media (min-width: $breakpoint-xl) {
      @content;
    }
  } @else if $breakpoint == '2xl' {
    @media (min-width: $breakpoint-2xl) {
      @content;
    }
  } @else {
    @media (min-width: $breakpoint) {
      @content;
    }
  }
}

@mixin max-width($breakpoint) {
  @media (max-width: calc($breakpoint - 1px)) {
    @content;
  }
}

// Flex helpers
@mixin flex-center($direction: row) {
  display: flex;
  flex-direction: $direction;
  align-items: center;
  justify-content: center;
}

@mixin flex-between($direction: row) {
  display: flex;
  flex-direction: $direction;
  justify-content: space-between;
  align-items: center;
}

// Positioning
@mixin absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin absolute-cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

// Text truncation
@mixin truncate($lines: 1) {
  @if $lines == 1 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  } @else {
    display: -webkit-box;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

// Gradient
@mixin gradient($start, $end, $angle: 135deg) {
  background: linear-gradient($angle, $start 0%, $end 100%);
}

// Transition
@mixin transition($properties: all, $duration: $transition-duration-base, $timing: $transition-timing) {
  transition: $properties $duration $timing;
}

// Focus state
@mixin focus-ring($color: $primary-color, $offset: 2px) {
  outline: 2px solid $color;
  outline-offset: $offset;
}

// Box shadow
@mixin shadow($level: 'md') {
  @if $level == 'sm' {
    box-shadow: $shadow-sm;
  } @else if $level == 'md' {
    box-shadow: $shadow-md;
  } @else if $level == 'lg' {
    box-shadow: $shadow-lg;
  } @else if $level == 'xl' {
    box-shadow: $shadow-xl;
  }
}

// Hover and focus states
@mixin hover-focus {
  &:hover,
  &:focus {
    @content;
  }
}

// Button reset
@mixin button-reset {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  font: inherit;
  color: inherit;
  
  &:hover,
  &:focus {
    outline: none;
  }
}

// Aspect ratio
@mixin aspect-ratio($width, $height) {
  position: relative;
  padding-bottom: percentage($height / $width);
  
  > * {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
