/**
 * Form Elements
 */

input,
textarea,
select {
  width: 100%;
  padding: $spacing-md;
  font-size: $font-size-base;
  border: 1px solid $gray-lighter;
  border-radius: $radius-md;
  @include transition(border-color, box-shadow);

  &:focus {
    outline: none;
    border-color: $primary-color;
    box-shadow: 0 0 0 3px rgba($primary-color, 0.1);
  }

  &:disabled {
    background-color: $gray-light;
    color: $gray-medium;
    cursor: not-allowed;
  }
}

textarea {
  min-height: 120px;
  resize: vertical;
}

select {
  cursor: pointer;
}

.form-group {
  margin-bottom: $spacing-lg;

  &:last-child {
    margin-bottom: 0;
  }
}

label {
  display: block;
  margin-bottom: $spacing-sm;
  font-weight: 600;
  color: $gray-dark;

  &.required::after {
    content: ' *';
    color: $error-color;
  }
}

.form-help {
  font-size: $font-size-sm;
  color: $gray-medium;
  margin-top: $spacing-sm;
}

.form-error {
  color: $error-color;
  font-size: $font-size-sm;
  margin-top: $spacing-sm;
}

.form-success {
  color: $success-color;
  font-size: $font-size-sm;
  margin-top: $spacing-sm;
}
