/**
 * Container
 */

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: $container-padding;
  padding-right: $container-padding;
  max-width: $container-max-width;

  @include respond-to(sm) {
    max-width: 540px;
  }

  @include respond-to(md) {
    max-width: 720px;
  }

  @include respond-to(lg) {
    max-width: 960px;
  }

  @include respond-to(xl) {
    max-width: 1140px;
  }

  @include respond-to(2xl) {
    max-width: 1320px;
  }

  &--fluid {
    max-width: 100%;
  }

  &--narrow {
    max-width: 800px;
  }

  &--wide {
    max-width: 1400px;
  }
}
